body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  margin: 20px;
  padding: 0;
  font-size: 40px;
  font-weight: normal;
  color: #0bc452;
  text-align: center;
  margin-right: 20rem;
}

.li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main {
  border: 2px solid #0bc452;
  display: flex;
  flex-direction: row;
  margin-right: 30rem;
  margin-left: 5rem;
  margin-top: 5rem;
}

.menuMachine {
  display: flex;
  flex-direction: row;
  
}

.nomPokemonsPresents {
  flex: 1;
}

.compteurPresence {
  flex: 1;
}

.boutonsDuMenu {
  flex: 1;
}
.pokemonInside {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.pokemonInside div {
  border: 2px solid #0bc452;
  padding: 10px;
  text-align: center;
}

.flexRow {
  flex-direction: row;
}

.pokemonOutside {
  margin-left: 30px;
}

.imagePokemon {
  width: 120px;
}

.hidePokemon {
  display: none;
}